/* Custom CSS styles for the my website */

/* Body and General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

  .navbar-brand img {
    height: 40px;
    width: auto;
  }
  
  .navbar-nav .nav-link {
    color: #f5f901;
    margin-right: 15px;
  }

  
.logo-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}

.search-button i {
  pointer-events: none;
}

.navbar-nav .nav-link {
  color: #fff;
  margin-right: 15px;
}
  
    /* Hero Section */
#hero {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/632/34/549/technology-monitor-alpha-coders-binary-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 300px 0;
  text-align: center;
  color: #eae6e6; /* Text color on top of the background image */
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ede1e1;
}

.hero p {
  font-size: 18px;
  color: #ebe3e3;
}

  
  
  /* About Section */
  #about {
    background-color: #e0c00b;
    padding: 30px 0;

  }
  
  /* Services Section */
  #services {
    padding: 120px 0;
    background-color:#8d7803
    
  }
  
  /* Portfolio Section */
  #portfolio {
    padding: 100px 0;
    color:#1d0be0
  
  }
  
  #portfolio img {
    margin-bottom: 20px;
  }
  
  /* Contact Section */
  #contact {
    color: #057276;
    padding: 100px 0;
  }
  
  /* Footer */
  .footer {
    background-color: #111010;
    color: #f0b7b7;
    padding: 30px 0;
  }
  
  .footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .social-media {
    list-style: none;
    padding: 20px 0;
    margin: 10px 0;
  }
  
  .social-media li {
    display: inline-block;
    margin-right: 50px;
    color: #660381;
  }
  
  .social-media li a {
    color: #094d68;
    font-size: 18px;
  }
  
  